# Git files - No need to include Git metadata in the image
.git
.gitignore

# Docker configuration files
.dockerignore
Dockerfile

# IDE configuration files - User-specific configurations that don’t affect the container
.idea/
.vscode/
*.iml

# System files - OS-specific and hidden system files
.DS_Store
Thumbs.db

# Node.js specific - Exclude dependencies and lock files not required at build time
node_modules/
npm-debug.log
# Uncomment if using npm exclusively
# package-lock.json
# Uncomment if using yarn exclusively
# yarn.lock

# Log files - Avoid unnecessary logs in the image
logs/
*.log

# Environment files (use Docker environment variables instead)
.env

# Development and testing files - Exclude files meant for development and testing
src/tests/          # Exclude test scripts
src/scripts/        # Exclude any development-specific scripts
Makefile
Makefile.help
Makefile.variables

# Documentation and metadata files
README.md
SECURITY.md
